*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(rgba(95, 197, 46, 0.5), rgba(98, 204, 61, 0.5)),                  url("/WikiDuende/img/pattern.png");
    color: black;
    font-size: larger;
    overflow-x: hidden;
}

/* GRID */
.contenedor{
    display: grid;
    width: 90%;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-template-areas:"header     header      header   header"
                        "contenido     contenido  contenido   sidebar"
                        "contenido    contenido     contenido    imagen";
    grid-template-rows: repeat(3, auto);
    margin: auto;
    
}
/* GRID*/

.contenedor .header{
    grid-area: header;
    text-align: center; 
}

.contenedor .imagen{
 
    grid-area: imagen;
    text-align: center;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.5);
}

.contenedor .sidebar{
    grid-area: sidebar;
    text-align: center;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.5);
    
}



.contenedor .contenido{
    grid-area: contenido;
    text-align: center;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.5);
    
}
header{
    display: flex;
    height: 100px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  
}

header a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: large;
    color: black;
}
header h2{
    display: flex;
    color: black;
    font-size: xx-large;
}
header img{
    display: flex;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 10px;
}

header a:hover{
    color: #fff;
}

/* CONTENIDO  */
.contenido p{
    margin: 20px;
    text-align: start;
    font-size: large;
    
}
.contenido h1{
    margin-bottom: 20px;
    background: #ACE1AF;
}
.contenido h2{
    background: none;
    text-align: start;
    font-size: larger;
    margin-left: 30px;
    padding: 0;
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 40px;
}
.contenido li{
    list-style-position:inside;
    list-style-type:none;
    margin-left: 5px;
    font-size: smaller;
    text-align: start;
}
.contenido strong{
    margin-left: 20px;
}

.dedicatoria{
    font-style: italic;
    text-align: center;
}


/* CONTENIDO  */

/* INDICE */
.imagen figure{
    padding: 10px;
  
}
.imagen{
    background: rgba(172, 225, 175, 0.5);
}
.imagen img{
    width: 300px;
   
}
figcaption{
    padding-top: 0;
    font-size: smaller;
    margin-bottom: 25px;
    margin-top: 25px;
}

.imagen h3{
    padding: 10px;
    background: #ACE1AF;
}
/* INDICE  */

/* SIDEBAR  */
.sidebar h3{
    padding: 10px;
    background: #ACE1AF;
 }
.sidebar img{
    max-width: 300px;
    padding: 5px;
    margin-bottom:  20px;
}

.sidebar li{
    list-style: none;
}
.sidebar .marca{
    font-weight: 400;  
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    text-align: center;
    padding: 10px;
  }
  th:first-child,
  td:first-child {
    border-right: 1px dotted #ccc;
    
  }
  
  th:last-child,
  td:last-child {
    border-left: 1px dotted #ccc;
  }
  
  thead th {
    border-bottom: 1px dotted #ccc;
  }
  
  tbody tr:last-child td {
    border-bottom: 1px dotted #ccc;
  }

  .light{
    font-weight: smaller;
  }

  .sidebar h4{
    text-align: center;
  }
  li .bullet{
    list-style-type: disc;
    list-style-position: inside;
    text-align: start;
    margin-left: 10px;
  }

  .datos{
    text-align: start;
    margin-left: 10px;
  }

  .sidebar figcaption{
    margin: 0;
  }

  .sidebar p{
    margin-bottom: 3px;
  }
/* SIDEBAR  */

/* footer  */
.footer{
    padding: 20px;
    margin-top: 35px;
    background: rgba(154, 186, 1, 0.5);
    width: 100%;
}


